<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css"
          href="https://raw.githubusercontent.com/necolas/normalize.css/master/normalize.css"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
<header>
   <h1> Mohans Dummy Heading</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultrices, sapien id consectetur vestibulum,
        dolor turpis suscipit nisi, at feugiat nulla ligula nec felis. Nam bibendum sed lorem nec tincidunt. Nam ac erat
        massa. Suspendisse et ligula sapien. Donec mattis</p>
</header>
<div id="container"/>
<aside>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultrices, sapien id consectetur
        vestibulum,
        dolor turpis suscipit nisi, at feugiat nulla ligula nec felis. Nam bibendum sed lorem nec tincidunt. Nam ac
        erat
        massa. Suspendisse et ligula sapien. Donec mattis
    </p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultrices, sapien id consectetur
        vestibulum, dolor turpis suscipit nisi, at feugiat nulla ligula nec felis. Nam bibendum sed lorem nec
        tincidunt.
        Nam ac erat massa. Suspendisse et ligula sapien. Donec mattis
    </p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultrices, sapien id consectetur
        vestibulum, dolor turpis suscipit nisi, at feugiat nulla ligula nec felis. Nam bibendum sed lorem nec
        tincidunt.
        Nam ac erat massa. Suspendisse et ligula sapien. Donec mattis
    </p>
</aside>
<div id="maincontent">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultrices, sapien id consectetur
        vestibulum, dolor turpis suscipit nisi, at feugiat nulla ligula nec felis. Nam bibendum sed lorem nec
        tincidunt. Nam ac erat massa. Suspendisse et ligula sapien. Donec mattis
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultrices, sapien id consectetur
        vestibulum, dolor turpis suscipit nisi, at feugiat nulla ligula nec felis. Nam bibendum sed lorem nec
        tincidunt. Nam ac erat massa. Suspendisse et ligula sapien. Donec mattis
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultrices, sapien id consectetur
        vestibulum, dolor turpis suscipit nisi, at feugiat nulla ligula nec felis. Nam bibendum sed lorem nec
        tincidunt. Nam ac erat massa. Suspendisse et ligula sapien. Donec mattis Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Pellentesque ultrices, sapien id consectetur vestibulum, dolor turpis suscipit
        nisi, at feugiat nulla ligula nec felis. Nam bibendum sed lorem nec tincidunt. Nam ac erat massa.

    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultrices, sapien id consectetur
        vestibulum, dolor turpis suscipit nisi, at feugiat nulla ligula nec felis. Nam bibendum sed lorem nec
        tincidunt. Nam ac erat massa. Suspendisse et ligula sapien. Donec mattis
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultrices, sapien id consectetur
        vestibulum, dolor turpis suscipit nisi, at feugiat nulla ligula nec felis. Nam bibendum sed lorem nec
        tincidunt. Nam ac erat massa. Suspendisse et ligula sapien. Donec mattis
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultrices, sapien id consectetur
        vestibulum, dolor turpis suscipit nisi, at feugiat nulla ligula nec felis. Nam bibendum sed lorem nec
        tincidunt. Nam ac erat massa. Suspendisse et ligula sapien. Donec mattis Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Pellentesque ultrices, sapien id consectetur vestibulum, dolor turpis suscipit
        nisi, at feugiat nulla ligula nec felis. Nam bibendum sed lorem nec tincidunt. Nam ac erat massa.

    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultrices, sapien id consectetur
        vestibulum, dolor turpis suscipit nisi, at feugiat nulla ligula nec felis. Nam bibendum sed lorem nec
        tincidunt. Nam ac erat massa. Suspendisse et ligula sapien. Donec mattis
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultrices, sapien id consectetur
        vestibulum, dolor turpis suscipit nisi, at feugiat nulla ligula nec felis. Nam bibendum sed lorem nec
        tincidunt. Nam ac erat massa. Suspendisse et ligula sapien. Donec mattis
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultrices, sapien id consectetur
        vestibulum, dolor turpis suscipit nisi, at feugiat nulla ligula nec felis. Nam bibendum sed lorem nec
        tincidunt. Nam ac erat massa. Suspendisse et ligula sapien. Donec mattis Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Pellentesque ultrices, sapien id consectetur vestibulum, dolor turpis suscipit
        nisi, at feugiat nulla ligula nec felis. Nam bibendum sed lorem nec tincidunt. Nam ac erat massa.

    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultrices, sapien id consectetur
        vestibulum, dolor turpis suscipit nisi, at feugiat nulla ligula nec felis. Nam bibendum sed lorem nec
        tincidunt. Nam ac erat massa. Suspendisse et ligula sapien. Donec mattis
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultrices, sapien id consectetur
        vestibulum, dolor turpis suscipit nisi, at feugiat nulla ligula nec felis. Nam bibendum sed lorem nec
        tincidunt. Nam ac erat massa. Suspendisse et ligula sapien. Donec mattis
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultrices, sapien id consectetur
        vestibulum, dolor turpis suscipit nisi, at feugiat nulla ligula nec felis. Nam bibendum sed lorem nec
        tincidunt. Nam ac erat massa. Suspendisse et ligula sapien. Donec mattis Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Pellentesque ultrices, sapien id consectetur vestibulum, dolor turpis suscipit
        nisi, at feugiat nulla ligula nec felis. Nam bibendum sed lorem nec tincidunt. Nam ac erat massa.

    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultrices, sapien id consectetur
        vestibulum, dolor turpis suscipit nisi, at feugiat nulla ligula nec felis. Nam bibendum sed lorem nec
        tincidunt. Nam ac erat massa. Suspendisse et ligula sapien. Donec mattis
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultrices, sapien id consectetur
        vestibulum, dolor turpis suscipit nisi, at feugiat nulla ligula nec felis. Nam bibendum sed lorem nec
        tincidunt. Nam ac erat massa. Suspendisse et ligula sapien. Donec mattis
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultrices, sapien id consectetur
        vestibulum, dolor turpis suscipit nisi, at feugiat nulla ligula nec felis. Nam bibendum sed lorem nec
        tincidunt. Nam ac erat massa. Suspendisse et ligula sapien. Donec mattis Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Pellentesque ultrices, sapien id consectetur vestibulum, dolor turpis suscipit
        nisi, at feugiat nulla ligula nec felis. Nam bibendum sed lorem nec tincidunt. Nam ac erat massa.

    </p>
</div>
</div>
<div id="clearfix"></div>
<footer>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultrices, sapien id consectetur vestibulum,
        dolor turpis suscipit nisi, at feugiat nulla ligula nec felis. Nam bibendum sed lorem nec tincidunt. Nam ac erat
        massa. Suspendisse et ligula sapien. Donec mattis</p>
</footer>
</body>
</html>