#container {
  width: 800px;
  margin: auto;
  background: url(static/images/bg.png) no-repeat;
}

#header p {
  margin-bottom: 0; }

#main h2 {
  margin: 0; }

#header {
  color: green;
  background: black; }

#sidebar {
  float: left;
  width: 300px;
  padding: 20px;
}

#footer {
  background: green;
  color: white;
  clear: both;
}

#main {
  float: right;
  width: 400px;
}
