<div id="banner-wrap">
    <div id="banner">
        <h2>Welcome to Mohan Ambalavanans Blog</h2>

        <div id="featured">
            <img src="img/Featured" alt="Featured">
            <img src="img/Featured" alt="Featured2"/>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        </p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        </p>
        <button>Learn More</button>
        <button>Our Work</button>
    </div>
    <p id="breadcrumbs">You are here :<a href="#">Home</a><a href="#"> Welcome</a></p>
</div>
