<div class="topbar">
    <header>
        <h1> Mohan Ambalavanans Blog </h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <menu>
            <ul id="social">
                <li><img src="{{ url_for('static',filename='images/icons/1.png') }}" alt="Facebook"/></li>
                <li><img src="{{ url_for('static',filename='images/icons/1.png') }}" alt="Dribble"></li>
                <li><img src="{{ url_for('static',filename='images/icons/1.png') }}" alt="Twitter"/></li>
                <li><img src="{{ url_for('static',filename='images/icons/1.png' )}}" alt="Flickr"></li>
            </ul>
        </menu>
        <form action="#" method="post">
            Search: <input type="text" name="Search" id="search" placeholder="Search"/>
        </form>
    </header>
</div>