h2 {
  margin-top: 0; }

#container {
  width: 600px;
  margin: auto; }

#header {
  color: green;
  background: black; }

#header h1, p {
  margin-bottom: 0; }

#sidebar {
  background: #e3e3e3;
  float: left;
  width: 250px; }

#footer {
  background: green;
  color: white;
  clear: both; }

#main {
  background: #666; }
